body{
  background-color: black;
  opacity: 0.9;
  color: seashell;
  text-align: center;
  font-size: 22px;
  font-family: Helvetica;
}

header.flex-container{
  display: flex;
  flex-wrap: wrap;
  height: 69px;
  align-items: center;
}

header{
  border-bottom: 1px solid seashell;
  width: 100%;
}

header img{
  height: 50px;
  padding-left: 10px;
}

nav{
  text-align: right;
  flex-grow: 1;
}

a{
  color: seashell;
}

.mission{
  display: flex;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  justify-content: center;
  height: 700px;
  align-items: center;
}

div.text-block{
  display: block;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  opacity: 0.9;
}
